#main-content .menu_content{
	background-color: grey;
	padding: 0px 20px;
	margin:0 30px;
}
#header-nav{
	border-radius: 0px;
	font-weight: 800;
	// border: 2px solid black;
}
#header-nav .navbar-brand{
	color: black;
}
@media (max-width:767px) {
	#collapsable-nav {
		background-color: yellow;
	}


}

#nav-list li:nth-child(1),li:nth-child(2){
	border-bottom: 2px solid #e7e7e7;
}